In [3]:
import pandas as pd
print(pd.__version__)

2.3.3

In [45]:
import pandas as pd
import numpy as np 
import os

# Define the relative path to the data folder
# ASSUMPTION: The 'ml-100k' folder is in the same directory as your notebook.
data_folder = 'ml-100k/'

# --- 1. Load Ratings (u.data) ---
# Columns: user_id, movie_id, rating, timestamp
# Separator: Tab ('\t')
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings_df = pd.read_csv(os.path.join(data_folder, 'u.data'), 
                        sep='\t', 
                        names=r_cols, 
                        encoding='latin-1')

In [12]:
print("\n--- RATINGS DataFrame (ratings_df) ---")
print("Shape (Rows, Columns):", ratings_df.shape)
print("First 5 Rows:")
print(ratings_df.head())

--- RATINGS DataFrame (ratings_df) ---
Shape (Rows, Columns): (100000, 4)
First 5 Rows:
   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [44]:
# --- 2. Load Movies (u.item) ---
# Columns: movie_id, title (We only use the first two)
# Separator: Pipe ('|')
m_cols = ['movie_id', 'title']
movies_df = pd.read_csv(os.path.join(data_folder, 'u.item'), 
                        sep='|', 
                        names=m_cols, 
                        usecols=range(2), 
                        encoding='latin-1')

In [42]:
### Print number of unique movie titles to verify no duplicates
print("\n--- MOVIES DataFrame (no duplicates) ---")
unique_movies= movies_df['title'].nunique()
print("\nTotal Unique Movies:", unique_movies)

--- MOVIES DataFrame (no duplicates) ---

Total Unique Movies: 1664

In [ ]:
### Print full movie columns
# Set option to display ALL columns (no truncation)
pd.set_option('display.max_columns', None)
# Set option to display a very large number of rows
pd.set_option('display.max_rows', 100) # Set to a reasonable large number

full_cols = ['movie id', 'title' , 'release date', 'video release date',
        'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation',
        "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
        'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
        'Thriller', 'War', 'Western']
movies_full_df = pd.read_csv(os.path.join(data_folder, 'u.item'), 
						sep='|', 
						names=full_cols, 
						encoding='latin-1')

print("\n--- MOVIES FULL DataFrame (movies_full_df) ---")
print("First 5 Rows: ")
print(movies_full_df.head(1))

In [9]:
# --- 3. Load Users (u.user) ---
# Columns: user_id, age, gender, occupation, zip_code
# Separator: Pipe ('|')
u_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users_df = pd.read_csv(os.path.join(data_folder, 'u.user'), 
                      sep='|', 
                      names=u_cols, 
                      encoding='latin-1')

In [10]:
print("\n--- UsERS DataFrame (users_df) ---")
# print(users_df['occupation'].value_counts())
filtered_users=users_df[users_df['age'] < 18]
print("Number of users under 18:")
print(filtered_users.shape[0])
young_users = filtered_users['occupation'].value_counts()
print("\n" ,young_users)

--- UsERS DataFrame (users_df) ---
Number of users under 18:
36

 occupation
student          30
none              3
entertainment     2
other             1
Name: count, dtype: int64

In [11]:

print("✅ Data Loading Complete. Three DataFrames created.")

✅ Data Loading Complete. Three DataFrames created.

In [64]:
print("\n--- Print ratings_df ---")
print(ratings_df.head(2))

print("\n--- Print movies_df ---")
print(movies_df.iloc[240:243, 0:2])  # First 5 rows, first 2 columns
print("\n-- Movies at 242", movies_df.at[241,'title'])

print("\n--- Print movies_df ---")
print(movies_df.iloc[300:303, 0:2])  # First
print("\n-- Movie at 302", movies_df.at[301,'title'])


temp_df_master= pd.merge(ratings_df, movies_df, on='movie_id')
print("\n--- MERGED DataFrame (temp_df_master) ---")
print(temp_df_master.head(2))

--- Print ratings_df ---
   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742

--- Print movies_df ---
     movie_id                             title
240       241  Last of the Mohicans, The (1992)
241       242                      Kolya (1996)
242       243              Jungle2Jungle (1997)

-- Movies at 242 Kolya (1996)

--- Print movies_df ---
     movie_id                     title
300       301           In & Out (1997)
301       302  L.A. Confidential (1997)
302       303        Ulee's Gold (1997)

-- Movie at 302 L.A. Confidential (1997)

--- MERGED DataFrame (temp_df_master) ---
   user_id  movie_id  rating  timestamp                     title
0      196       242       3  881250949              Kolya (1996)
1      186       302       3  891717742  L.A. Confidential (1997)